<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.baseurl}}/">Amaranth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.baseurl}}/directory-yml">Use Cases</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lab Device Guides
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.baseurl}}/3d-printer-guide">3D Printer Guide</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/3d-scanner-guide">3D Scanner Guide</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/360-camera">360 Camera Guide</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/poster-printer">Poster Printer Guide</a></li>
            </li>
          </ul> 
          </li>

<ul class="navbar-nav w-100 mb-2 mb-lg-0 d-flex">
  <!-- left links -->
  <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about">About</a>
  </li>
  <!-- ...other left links... -->

  <li class="nav-item ms-auto">
    <a class="nav-link" href="https://outlook.office365.com/owa/calendar/HistoryAmaranth@unmm.onmicrosoft.com/bookings/">Make an Appointment</a>
  </li>
</ul>


<!--
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
{% unless page.path == "index.md" %}
<img src="{{site.baseurl}}/assets/bg-images/short-amaranth-header.png" alt="Navigation Banner" style="width: 100%; display: block; margin-bottom: 0.5rem;">
{% endunless %}
